.main {
  padding-right: 150px;
  border-top: 150px;
  background-color:pink;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
}
.mr{
  margin-right: 15px;
}
input {
  padding: 5px 10px;
}
.butt {
  display: inline-block;
  justify-content: space-between;
}
.line {
  display: inline-block;
}